body{
  background-color: navajowhite;
  margin: 0;
  font-family: Arial;
}

header{
  background-color: rgb(219, 163, 89);
  padding: 2rem;   
}

header h1{
  color: rgb(0, 0, 0);
  font-family: monospace;
}

nav{
  background-color: rgb(243, 198, 142);
  padding: 1rem;
}
li a{
  color: blanchedalmond;
  text-decoration: none;
  background-color: rgb(219, 163, 89);
  border-radius: 5px;
  padding: 0.5rem;
}

li a:hover{
  background-color: rgb(196, 182, 164);
}

ul li{
  padding: 1rem;
  list-style: none;
}

nav ul{
  padding: 0;
  display: flex;
}

.container{
  margin-top: 2rem;
  margin: auto;
  max-width: 60%;
  background-color: rgb(241, 186, 123);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.container h3{
  text-align: center;
  color:rgb(0, 0, 0);
  border-bottom: 2px solid #000000;
  padding-bottom: 0.5rem;
  font-family: cursive;
}

.container input{
  margin-bottom: 0.5rem;
  border: 2px solid rgb(236, 204, 162);
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;

}

.container input:hover{
  background-color: moccasin;
}

.container button{
  background-color: rgb(219, 163, 89);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
}

.container button:hover{
  background-color: rgb(196, 182, 164);
}

footer{
  margin-top: 2rem;
  border-top: 2px solid #000000;
  color: #000000;
}

th{
  background-color: bisque;
  border-radius: 15px;
  color: black;
  padding: 0.5rem;
  font-family: cursive;
}

td{
  border: 3.5px solid bisque;
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
}
